<!DOCTYPE html>
<html ng-app="Guzzle">
	<head title="ZoomNGuzzle">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script type="text/javascript" src="scripts/controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
    </head>	
    <body>
    <div class="container">
        <div class="container-fluid">

            <!--Page Header-->
            <div class="row-fluid page-header">
                <h1>Zoom N Guzzle!</h1>
            </div>
            <div ng-controller="RecordsController" class="row-fluid" >

                <!--Add New Record Button-->
                <button class="btn" ng-click="toggleAddNewFormVisibility()" 
                                    ng-hide="newRecordFormVisible"><i class="icon-plus"></i> Add</button>
                <br /><br />

                <!--Add New Record Form Fields-->
                <form name="addNewRecordForm" class="form-horizontal well" ng-show="newRecordFormVisible">
                    <div class="control-group">
                        <label class="control-label" for="date">Date</label>
                        <div class="controls">
                            <input type="date" id="date" ng-model="newRecord.date" required placeholder="mm/dd/yyyy" min="{{getLastFillupDate()}}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="reading">Odometer</label>
                        <div class="controls">
                            <input type="number" id="reading" ng-model="newRecord.odo" required min="{{getMinimumOdometerReading()}}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="price">Price</label>
                        <div class="controls">
                            <input type="number" id="price" ng-model="newRecord.costInUSD" required min="{{minimumPrice}}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="volume">Volume</label>
                        <div class="controls">
                            <input type="number" id="volume" ng-model="newRecord.amountInUSGal" required min="{{minimumVolume}}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="comments">Comments</label>
                        <div class="controls">
                            <textarea id="comments" ng-model="newRecord.comments"></textarea> 
                        </div>
                    </div>
                    <div>
                        <label class="control-label" for="buttons"></label>
                        <div class="controls">
                            <button ng-click="addNewRecord()" ng-disabled="!addNewRecordForm.$valid" class="btn btn-primary">Save</button>
                            <button ng-click="resetNewRecord()" class="btn">Cancel</button>
                        </div>
                    </div>
                </form>

                <!--Display The Records-->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th><b>Date</b></th>
                            <th><b>Distance</b></th>
                            <th><b>MPG</b></th>
                            <th><b>Comment</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list | orderBy:'-id'">
                            <td>{{item.date | date:mediumDate}}</td>
                            <td>{{item.distance}}</td>
                            <td><b>{{item.efficiency | number:2}}</b></td>
                            <td>{{item.comments}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
    </body>
</html>